body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: #d2d5d9;
    /* centered column with flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container {
    display: flex;
}

.left-div, .right-div {
    flex: 1;
}

.left-div {
    background-color: #f0f0f0;
}

.right-div {
    background-color: #e0e0e0;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
    width: auto;
    height: auto;
}

#training {
    text-align: center;
    width: 100%;
}

button {
    margin: 10px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 1px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    border: none;
}

button:hover {
    background-position: right center;
}

#intro{
    width: 60vw;
    text-align: center;
}



